<form class="ingredient-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="/systems/ambre/assets/icons/002-cauldron.png" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Nom de l'Ingrédient"/></h1>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item active" data-tab="description">Description</a>
        <a class="item" data-tab="details">Détails</a>
    </nav>

    <section class="sheet-body">
        <div class="tab description active" data-group="primary" data-tab="description">
            {{editor system.description target="system.description" button=true owner=owner editable=editable}}
        </div>

        <div class="tab details" data-group="primary" data-tab="details">
            <div class="form-group">
                <label for="system.categorie">Catégorie d'Ingrédient</label>
                <select id="system.categorie" name="system.categorie">
                    {{#select systemData.categorie}}
                    {{#each categoriesIngredient as |cat|}}
                        <option value="{{cat.key}}">{{cat.label}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
    </section>
</form>
