<section class="common-stats-grid">
    <label class="commonStats-name">
        <h3>
            {{localize "ambre.pj.dexterite"}}
        </h3>
    </label>
    <div class="commonStats-value">
        <input name="system.dexterite" type="text" value="{{actor.system.dexterite}}" data-dtype="Number"/>
    </div>

    <label class="commonStats-name">
        <h3>
            {{localize "ambre.pj.force"}}
        </h3>
    </label>
    <div class="commonStats-value">
        <input name="system.force" type="text" value="{{actor.system.force}}" data-dtype="Number"/>
    </div>
    <label class="commonStats-name">
        <h3>
            {{localize "ambre.pj.reflexe"}}
        </h3>
    </label>
    <div class="commonStats-value">
        <input name="system.reflexe" type="text" value="{{actor.system.reflexe}}" data-dtype="Number"/>
    </div>
    <label class="commonStats-name">
        <h3>
            {{localize "ambre.pj.adaptation"}}
        </h3>
    </label>
    <div class="commonStats-value">
        <input name="system.adaptation" type="text" value="{{actor.system.adaptation}}" data-dtype="Number"/>
    </div>
    <label class="commonStats-name">
        <h3>
            {{localize "ambre.pj.regeneration"}}
        </h3>
    </label>
    <div class="commonStats-value">
        <input name="system.regeneration" type="text" value="{{actor.system.regeneration}}" data-dtype="Number"/>
    </div>  
        <label class="commonStats-name">
        <h3>
            {{localize "ambre.pj.resistance"}}
        </h3>
    </label>
    <div class="commonStats-value">
        <input name="system.resistance" type="text" value="{{actor.system.resistance}}" data-dtype="Number"/>
    </div>
    <label class="commonStats-name">
        <h3>
            {{localize "ambre.pj.intelligence"}}
        </h3>
    </label>
    <div class="commonStats-value">
        <input name="system.intelligence" type="text" value="{{actor.system.intelligence}}" data-dtype="Number"/>
    </div>
    <label class="commonStats-name">
        <h3>
            {{localize "ambre.pj.concentration"}}
        </h3>
    </label>
    <div class="commonStats-value">
        <input name="system.concentration" type="text" value="{{actor.system.concentration}}" data-dtype="Number"/>
    </div>
    <label class="commonStats-name">
        <h3>
            {{localize "ambre.pj.volonte"}}
        </h3>
    </label>
    <div class="commonStats-value">
        <input name="system.volonte" type="text" value="{{actor.system.volonte}}" data-dtype="Number"/>
    </div>
    <label class="commonStats-name">
        <h3>
            {{localize "ambre.pj.6sens"}}
        </h3>
    </label>
    <div class="commonStats-value">
        <input name="system.6sens" type="text" value="{{actor.system.6sens}}" data-dtype="Number"/>
    </div>  
        <label class="commonStats-name">
        <h3>
            {{localize "ambre.pj.empathie"}}
        </h3>
    </label>
    <div class="commonStats-value">
        <input name="system.empathie" type="text" value="{{actor.system.empathie}}" data-dtype="Number"/>
    </div>
    <label class="commonStats-name">
        <h3>
            {{localize "ambre.pj.eloquence"}}
        </h3>
    </label>
    <div class="commonStats-value">
        <input name="system.eloquence" type="text" value="{{actor.system.eloquence}}" data-dtype="Number"/>
    </div>
    <label class="commonStats-name">
        <h3>
            {{localize "ambre.pj.intimidation"}}
        </h3>
    </label>
    <div class="commonStats-value">
        <input name="system.intimidation" type="text" value="{{actor.system.intimidation}}" data-dtype="Number"/>
    </div>
    <label class="commonStats-name">
        <h3>
            {{localize "ambre.pj.apparence"}}
        </h3>
    </label>
    <div class="commonStats-value">
        <input name="system.apparence" type="text" value="{{actor.system.apparence}}" data-dtype="Number"/>
    </div>
</section>