<section>
    <label class="majorStats-name">
        <h3>
            {{localize "ambre.pj.physique"}}
        </h3>
    </label>
    <div class="majorStats-value">
        <input name="system.physique" type="text" value="{{actor.system.physique}}" data-dtype="Number"/>
    </div>
    <label class="majorStats-name">
        <h3>
            {{localize "ambre.pj.endurance"}}
        </h3>
    </label>
    <div class="majorStats-value">
        <input name="system.endurance" type="text" value="{{actor.system.endurance}}" data-dtype="Number"/>
    </div>
    <label class="majorStats-name">
        <h3>
            {{localize "ambre.pj.psyche"}}
        </h3>
    </label>
    <div class="majorStats-value">
        <input name="system.psyche" type="text" value="{{actor.system.psyche}}" data-dtype="Number"/>
    </div>
    <label class="majorStats-name">
        <h3>
            {{localize "ambre.pj.perception"}}
        </h3>
    </label>
    <div class="majorStats-value">
        <input name="system.perception" type="text" value="{{actor.system.perception}}" data-dtype="Number"/>
    </div>
    <label class="majorStats-name">
        <h3>
            {{localize "ambre.pj.charisme"}}
        </h3>
    </label>
    <div class="majorStats-value">
        <input name="system.charisme" type="text" value="{{actor.system.charisme}}" data-dtype="Number"/>
    </div>  
</section>